@charset "utf-8";

#atc06{padding:160px 0;background:#222}
#atc06 .inner{width:1495px;margin:0 auto}
#atc06 .l_tit{color:rgba(255,255,255,.4);text-align:center}
#atc06 .l_tit p{font-size:45px;color:#fff;font-family:'notokr-bold'}
#atc06 ul{overflow:hidden;margin-top:70px}
#atc06 ul li{float:left;width:480px;height:325px;border:1px solid rgba(255,255,255,.1)}
#atc06 ul li+li{margin-left:27px}
#atc06 ul li a{display:block;position:relative;height:100%;padding:70px 50px 50px;color:#fff;transition:all .3s}
#atc06 ul li a:hover{color:#222;background:#fff}
#atc06 ul li a:hover .lt_cont{color:rgba(0,0,0,.4)}
#atc06 ul li .date{font-size:13px;font-weight:600;letter-spacing:0;font-family:'Poppins'}
#atc06 ul li .subj{display:block;margin:50px 0 25px;font-size:20px;font-family:'notokr-medium'}
#atc06 ul li .lt_cont{color:rgba(255,255,255,.4)}
#atc06 ul li .arrow{position:absolute;top:95px;right:50px}
#atc06 ul li .arrow svg{height:20px;top:20px;top:30px;right:47px;transition:all .3s var(--ani)}
#atc06 ul li a:hover .arrow svg{transform:rotate(180deg)}
#atc06 ul li:nth-child(2){animation-delay:.2s}
#atc06 ul li:nth-child(3){animation-delay:.4s}