@charset "utf-8";

#atc03 .cont_wrap{position:relative;width:1495px;height:915px;margin:0 auto;padding:150px 0 0 95px;border-left:1px solid #e1e1e1}

/* title */
#atc03 .tit{padding-bottom:30px;font-size:45px;line-height:1.3;color:#222;font-family:'notokr-bold'}
#atc03 .tit span{color:var(--primary)}

#atc03 ul li{margin-top:90px}
#atc03 ul li .e_tit{font-size:25px;font-weight:700;color:#222;letter-spacing:0;font-family:'Poppins'}
#atc03 ul li .e_tit span{margin-right:15px;font-size:15px;color:var(--primary);vertical-align:3px}
#atc03 ul li div{padding:20px 0 0 30px}
#atc03 .img_area{position:absolute;bottom:-85px;right:0;z-index:1}
