@charset "utf-8";

#topNavWrap{position:fixed;top:0;min-width:1400px;width:100%;height:90px;padding:0 80px;border-bottom:1px solid rgba(0,0,0,.1);background:#fff;transition:all .3s}
#topNavWrap.sub{position:absolute}

/* 마우스온 */
#topNavWrap.on{border-color:#e1e1e1;background-color:#fff}
#topNavWrap.on #topNav > li > a{color:#111}
#topNavWrap.on #menuLine{background-color:#666}

/* 로고 */
#top_logo{float:left;position:relative;top:50%;transform:translateY(-50%)}

/* 대분류  */
#topNav{position:absolute;z-index:1;height:96px;left:50%;transform:translateX(-50%)}
#topNav:after{display:block;content:"";visibility:hidden;clear:both}
#topNav > li{float:left;position:relative;padding:0 25px;line-height:90px}
#topNav > li > a{display:block;font-size:17px;color:#222;letter-spacing:-.3px;transition:all .2s;font-family:'notokr-medium'}
#menuLine{position:absolute;bottom:-1px;left:50%;width:0;height:1px;background-color:transparent;transition:all 0.5s ease-in-out}

/* 소분류 */
.top_nav_s{display:none;position:absolute;width:100%;min-height:165px;left:50%;transform:translateX(-50%);padding-top:15px}
.top_nav_s li a{display:block;margin:0px;font-size:14px;line-height:26px;text-align:center;color:#08151d;transition:color .2s}
.top_nav_s li a:hover{color:#999}

/* 전체메뉴배경 */
.top_nav_bg{position:fixed;width:100%;display:none;top:90px;height:140px;background:#fff;box-shadow:0px 12px 12px -17px rgba(0,0,0,0.25)}

/* 메뉴버튼 */
#allBtn{display:'none';float:right;position:relative;top:50%;z-index:101;padding:15px;transform:translateY(-50%);cursor:pointer}
#allBtn span{display:block;position:absolute;left:8px;top:8px;width:3px;height:3px;background-color:#08151d;transition:all .2s}
#allBtn span.s2{top:19px}
#allBtn span:after{display:block;content:"";position:absolute;left:11px;width:3px;height:3px;background-color:#08151d}
#allBtn.active{z-index:200}
#allBtn.active span:after{display:none}
#allBtn.active span{width:20px}
#allBtn.active span.s1{left:6px;top:14px;transform:rotate(45deg)}
#allBtn.active span.s2{left:6px;top:14px;transform:rotate(-45deg)}

/* 메뉴오픈 */
#allWrap{display:none;position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;color:#08151d;transform:translateY(50px);background-color:#fff;transition:transform .6s}
#allWrap.active{transform:translateY(0)}
#allWrap .inner{position:relative;width:1520px;height:100%;margin:0 auto;padding-top:150px}
#allWrap .ci p{display:inline-block;margin-left:55px;font-size:40px;color:#222;vertical-align:-9px;font-family:'notokr-light'}
#allWrap .ci p span{font-family:'notokr-bold'}
#allWrap .tit{font-size:18px;font-weight:700;line-height:90px;font-weight:600;font-family:'Poppins'}
#allWrap .sitemap{display:flex;justify-content:space-between;position:relative;margin-top:160px}
#allWrap .sitemap .bmn{display:inline-block;position:relative;font-size:22px;color:#08151d;letter-spacing:-.5px;transition:all .2s}
#allWrap .sitemap ul li{display:table}
#allWrap .sitemap ul li+li{margin-top:20px}
#allWrap .sitemap ul li .bmn:hover{color:var(--primary);transform:translateX(20px);font-family:'notokr-bold'}
#allWrap .right_img{margin-top:-30px;text-align:right}
#allWrap .right_img .txt{margin-top:10px}
#allWrap .cs{position:absolute;bottom:0;width:100%;padding:0 calc((100% - 1520px) / 2);color:#fff;background:var(--primary);font-family:'Poppins','notokr-regular'}
#allWrap .cs > p{display:inline-block}
#allWrap .cs > p+p{margin-left:80px}
#allWrap .cs .add{font-size:15px}
#allWrap .cs .tel{font-size:16px;font-weight:500}
#allWrap .cs .etc{margin-left:20px;font-weight:400;color:rgba(255,255,255,.7)}
#allWrap .cs .sns{float:right;font-size:16px}
#allWrap .cs .sns li{display:inline-block;margin:0 7px;line-height:90px}
#allWrap .cs .sns li a{color:rgba(255,255,255,.5);transition:all .3s}
#allWrap .cs .sns li a:hover{color:#fff}

