@charset "utf-8";

#atc02{width:80%;height:2790px;margin:0 auto;background:url(/sh_img/include/inc02/img/bg.jpg) no-repeat fixed; background-size:cover;transition:all .3s var(--ani)}
#atc02 .cont_area{overflow:hidden;position:relative;width:1495px;margin:0 auto;padding-top:1000px}
#atc02 .tit{float:left;margin-top:100px;padding-left:95px;font-size:45px;font-weight:600;line-height:1.3;color:#fff;letter-spacing:0;font-family:'Poppins'}
#atc02 .tit.fix{position:fixed;top:190px}
#atc02 .tit.off{position:absolute;top:auto;bottom:85px}
#atc02 .cont_box{position:relative;float:right;width:900px}
#atc02 .cont_box .box{overflow:hidden;display:inline-block;margin-top:-150px}
#atc02 .cont_box .energy2{float:right;margin-top:410px}
#atc02 .cont_box .energy3{margin-top:200px}
#atc02 .cont_box .energy4{float:right;margin-top:-250px}
#atc02 .cont_box .box a{color:#fff}
#atc02 .cont_box .box a .img_area{overflow:hidden;width:390px;height:500px}
#atc02 .cont_box .box a img{filter:grayscale(1);transition:all .5s var(--ani)}
#atc02 .cont_box .box a:hover img{transform:scale(1.15)}
#atc02 .cont_box .box a:hover img{filter:none}
#atc02 .cont_box .box a svg{position:absolute;bottom:0;left:30px;transition:all .3s var(--ani)}
#atc02 .cont_box .box a svg.on{opacity:0;bottom:10px;left:40px;color:#fff}
#atc02 .cont_box .box a:hover svg.on{opacity:1;bottom:0;left:30px}
#atc02 .cont_box .box a:hover svg.off{opacity:0;bottom:-10px;left:20px}
#atc02 .cont_box .box p{font-size:27px;font-weight:600;letter-spacing:0;font-family:'Poppins'}
#atc02 .cont_box .box .txt{position:relative;z-index:10;margin-top:-25px;padding:0 30px 30px}
#atc02 .cont_box .box .txt div{margin:15px 0 25px;color:rgba(255,255,255,.7)}
