@charset "utf-8";

#atc07 .bg_area{position:absolute;width:100%;height:665px;background:url(/sh_img/include/inc07/img/CK_td01830000404.jpg) fixed; background-size: 1900px 965px;}
#atc07 .bg_area:after{position:absolute;content:'';top:0;right:0;width:calc((100% - 1495px) / 2);height:665px;background:#fff}
#atc07 .cont_area{position:relative;width:1495px;margin:0 auto;padding:270px 0 0}
#atc07 .cont_area .tit{margin-bottom:70px;color:rgba(255,255,255,.5)}
#atc07 .cont_area .tit p{display:inline-block;font-size:45px;color:#fff;font-family:'notokr-bold'}
#atc07 .cont_area .tit span{margin-left:20px;vertical-align:11px}
#atc07 .gall_area{position:relative}
#atc07 .gall_area:after{position:absolute;content:'';z-index:-1;bottom:0;right:0;width:1px;height:100%;background:#e1e1e1}
#atc07 .gall_area .incrute-container{width:100%;margin:0}
#atc07 .gall_area .incrute-wrapper{display: flex;}
#atc07 .gall_area ul li{overflow:hidden;width:610px;background:center no-repeat;background-size:cover}
#atc07 .gall_area ul .img_area{overflow:hidden;width:410px;height:360px}
#atc07 .gall_area ul .img_area img{transition:all .8s var(--ani);width:100%;height: 277px;}
#atc07 .gall_area ul li a:hover .img_area img{transform:scale(1.15)}
#atc07 .gall_area ul li .txt{padding:25px;background-color: #589fcd;}
#atc07 .gall_area ul li h2{color:#fff}
#atc07 .gall_area ul li .txt em{font-size:15px;font-weight:700;font-style:normal;color:var(--primary);letter-spacing:0;font-family:'Poppins'}
#atc07 .gall_area ul li .txt p{padding:15px 0 0;font-size:15px;height:200px;color:#fff;font-family:'notokr-medium'}
#atc07 .gall_area ul li .txt span{font-size:14px;font-weight:600;color:#aaa;letter-spacing:0;font-family:'Poppins'}

#atc07 .cont_box{position:relative;float:right;width:900px;margin-top:-300px;}
#atc07 .cont_box .box{overflow:hidden;display:inline-block;margin-top:-150px}
#atc07 .cont_box .energy2{float:right;margin-top:80px}
#atc07 .cont_box .box a{color:#fff}
#atc07 .cont_box .box a .img_area{overflow:hidden;width:390px;height:500px}
#atc07 .cont_box .box a img{filter:grayscale(1);transition:all .5s var(--ani)}
#atc07 .cont_box .box a:hover img{transform:scale(1.15)}
#atc07 .cont_box .box a:hover img{filter:none}
#atc07 .cont_box .box a svg{position:absolute;bottom:0;left:30px;transition:all .3s var(--ani)}
#atc07 .cont_box .box a svg.on{opacity:0;bottom:10px;left:40px;color:#fff}
#atc07 .cont_box .box a:hover svg.on{opacity:1;bottom:0;left:30px}
#atc07 .cont_box .box a:hover svg.off{opacity:0;bottom:-10px;left:20px}
#atc07 .cont_box .box p{font-size:27px;font-weight:600;letter-spacing:0;font-family:'Poppins'}
#atc07 .cont_box .box .txt{position:relative;z-index:10;margin-top:-25px;padding:0 30px 30px}
#atc07 .cont_box .box .txt div{margin:15px 0 25px;color:rgba(255,255,255,.7)}